{%extends 'blog/base.html'%}
{% load static %}

{%block content %}
	{% if category_name %}
	<h2>カテゴリ：{{category_name}}の記事</h2>
	<hr />
	{% elif month %}
	<h2>{{month | date:"Y年m月"}}の記事</h2>
	<hr />
	{% elif query %}
	<h2>「{{query}}」の検索結果</h2>
	{% else %}
	{% endif %}
	{% for post in object_list %}
	<div class="post">
		<h2><a href="{% url 'post_detail' pk=post.pk %}">{{post.title}}</a></h2>
		<p class="category">カテゴリー：<a href="{% url 'category_list' pk=post.category.pk %}">{{post.category}}</a></p>

		<p>{{ post.text|linebreaksbr | truncatechars:140 }}</p>
		<div class="date">
			<p>作成日：{{post.created_date}}</p>
		</div>
		<a href="{% url 'post_detail' pk=post.pk %}">コメント: {{post.approved_comments.count }}
		{% if user.is_authenticated and post.count_unnapproved_comment > 0  %}
		<small>未承認のコメントがあります</small>
		{% endif %}
		</a>
	</div>

	{% endfor %}

{% include 'blog/includes/pagenation.html' %}

{% endblock %}